.intro {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7%;

}

.intro p {
    text-align: center;
    width: 50%;
}


section:not(.intro) .tags {
    display: flex;
    min-height: fit-content;
    flex-direction: row;
    width: 100%;
    margin: 5% 0;
    gap: 20px;
    flex-wrap: wrap;
}

section:not(.intro) .tags span {
    background-color: var(--Mystic-hover);
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .3s ease;
    width: fit-content;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
}

section:not(.intro) {
    display: flex;
    padding: 7% 0;
    justify-content: center;
    gap: 100px;
}

section:not(.intro) > img {
    width: 30%;
    object-fit: contain;
}


section:not(.intro) div {
    min-height: 100%;
    display: flex;
    width: 60%;
    flex-direction: column;
}
section:not(.intro) h2 {
    color: var(--Blue-Dianne);
}
section:not(.intro) p {
    width: 100%;
    word-wrap: break-word;
}


@media (max-width: 899px) {
    .intro p {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .intro {
        height: calc(100vh - 100px);
        align-items: center;
        margin: 0;
        justify-content: center;
    }
    
    section:not(.intro) img {
        display: none;
    }
    section:not(.intro) div {
        justify-content: center;
        align-items: center;
    }

    section:not(.intro) p {
        text-align: center;
    }
    
}