.content-component-sum {
    display: flex;
    flex-direction: column;
    padding: 25px;
    transition: all .3s ease;
    margin-bottom: 20px;
    border-radius: 35px;
    gap: 10px;
    width: 90%;
}

.content-component-sum p {
    word-wrap: break-word;
    width: 100%;}

.content-component-sum:hover {
    cursor: pointer;
    background-color: var(--color-ui-hover);
}

.content-component-sum:hover .tags span {
    cursor: pointer;
    background-color: var(--color-ui);
}

.content-component-sum .tags {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.content-component-sum .tags span {
    background-color: var(--color-ui-hover);
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .3s ease;
}

/*-------------------------------------------------------------------------------------*/

.smaller {
    transform: scale(.8) translateY(-50px);
    height: 120%;
}

.content-component {
    position: absolute;
    top: calc(50% - 100px);
    left: 5%;
    width: calc(90% - 100px);
    height: 50%;
    background-color: var(--color-ui);
    padding: 50px;
    border-radius: 35px 35px 0 0;
    animation: zoom-from-bottom .3s ease;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    transition: all .3s ease;
    z-index: 500;
}

.content-component-closing {
    animation: zoom-from-bottom-reverse .3s ease;
}

.content-component h1, .content-component p, .content-component .tags {
    width: 100%;
    word-wrap: break-word;
}

.content-component h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

.content-component p {
    width: 80%;
}

.content-component img {
    width: 50%;
    object-fit: contain;
}

.content-component .tags {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.content-component .tags span {
    background-color: var(--color-ui-hover);
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .3s ease;
}

.content-component-bg {
    animation: bg-appears .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: var(--color-background);
    z-index: 500;
}


.content-component-bg-closing {
    animation: bg-disappears .3s ease;
}

.expanded {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 0px;
}

.content-component .cross {
    position:absolute;
    right: 15px;
    top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    background: none;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-component .cross:hover,  .content-component .expandBtn:hover {
    background-color: var(--color-ui-hover);
}


.content-component .expandBtn {
    position: absolute;
    right: 70px;
    top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    background: none;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;  /* Largeur de la barre de défilement à 0 */
    height: 0; /* Hauteur de la barre de défilement à 0 */
}   

@media (max-width: 899px) {

    .content-component {
        position: absolute;
        top: calc(30% - 100px);
        left: 0%;
        width: calc(100% - 40px);
        height: 70%;
        padding: 80px 20px 20px 20px;
    }

    .content-component-sum {
        background-color: var(--color-ui-hover);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-component-sum:hover {
        cursor: pointer;
        box-shadow: none;
        transform: none;
    }

    .content-component-sum:active {
        transform: scale(.7);
    }

    .content-component p {
        width: 100%;
    }

    .content-component .expandBtn {
        display: none;
    }

    .content-component-sum .tags {
        display: none;
    }

    .content-component-sum p {
        display: none;
    }
    

    .content-component h1 {
        font-size: 30px;
    }

}