
.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
}

.intro p {
    text-align: center;
    width: 50%;
    word-break: break-all;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
@media (max-width: 1000px) {

    main {
        padding: 10% 5%;
    }
    .intro p {
        width: 100%;
    }
}