footer {
    margin-top: 0px;
    border-radius: 50px 50px 0 0;
    padding: 30px 15px;
    gap: 15px;
    background-color: var(--color-primary);
    color: var(--color-ui);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


footer p {
    margin: 0;
}


@media (max-width: 899px) {
    footer .buttons {
        flex-direction: column;
    }
}