footer {
    margin-top: 0px;
    border-radius: 50px 50px 0 0;
    padding: 30px 15px;
    gap: 15px;
    background-color: var(--color-primary-variant);
    color: var(--color-ui);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    position: relative;

}

footer .buttons img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

footer .buttons .links {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    gap: 20px;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
footer .buttons .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50px;
    padding: 5px 20px;
    background-color: var(--color-ui);
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s;
}


footer p {
    margin: 0;
}

footer img {
    object-fit: cover;
    border-radius: 100px;
}

@media (max-width: 700px) {
    footer .buttons {
        flex-direction: column;
    }

    footer .buttons .links a {
        font-size: 0px;
        padding: 0;
        min-width: 50px;
        max-width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    footer img {
        display: none;
    }

    

}