@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary-variant: #364A6A;
    --maximised-navbar: #1c3043bc;
    --color-primary: #1C3043;
    --color-ui: #DAE3EB;
    --color-ui-hover: #bdc6cd;
    --color-background: #000000cf;
    --color-text: black;
    --color-text-inversed: white;
  }

  * {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
@keyframes from-top {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes zoom-reverse {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
        opacity: 1;
    }
    
    to {
        transform: scale(1) ;
        opacity: 1;
    }
}

@keyframes zoom-from-bottom {

    from {
        transform: scale(.5) translateY(500px);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes zoom-from-bottom-reverse {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(.5) translateY(500px);
        opacity: 0;
    }
}

@keyframes bg-appears {
    from {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);

    }
    to {
        background-color: var(--color-background);
        backdrop-filter: blur(10px);

    }
}

@keyframes bg-disappears {
    from {
        background-color: var(--color-background);
        backdrop-filter: blur(10px);

    }
    to {
        
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);

    }
}

@keyframes element-appears {
    from {
        transform: scale(.4);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    color: var(--color-primary);

}

h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    color: var(--color-primary);

}

h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

p {
    
    font-weight: 300;
    margin: 0;
}

.appearsOnScroll {
    visibility: hidden;
}
.visible {
    visibility: visible;
    animation: element-appears .7s ease;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: var(--color-background);
    z-index: 100000;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader-visible {
    display: flex;
}

.button-light {
    color: var(--color-primary);
    text-decoration: none;
    background-color: var(--color-ui);
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
}

.button-dark {
    color: var(--color-ui);
    text-decoration: none;
    background-color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;

    transition: all .3s ease;
}

.link {
    text-decoration: underline;
    color: var(--color-primary-variant);
}

.button-light:hover, .button-dark:hover {
    background-color: var(--color-ui-hover);
    color: var(--color-text);
    box-shadow: 0px 7px 0px var(--color-primary);
    transform: translateY(-7px);
    
}





body {
    background-image: url(../img/moutains.webp);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
    transition: all .3s ease;
}


.max-content {
    background-size:120%;
}


.container {
    position: absolute;
    top: 100px;
    margin: 0 5%;
    width: 90%;
    height: calc(100% - 100px);
        border-radius: 50px 50px 0 0;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    animation: zoom-from-bottom .5s ease;
    transition: all .3s ease;
}

.container-hide {
    transform: translateY(100%);
}

.max-content .container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    background-color: var(--color-ui);
}

main {
    padding: 5%;
    width: 90%;
    min-height: 100%;
    border-radius: 50px;
    background-color: var(--color-ui);
    transition: all .3s ease;
}

.max-content main {
    border-radius: 0px;
}


@media (max-width: 1000px) {

    body, .max-content {
        background-size:cover;
    }

    h1 {
        font-size: 30px;
        font-weight: 700;
        margin: 0;
        color: var(--color-primary);
    }

    h2 {
        font-size: 23px;
        font-weight: 700;
        margin: 0;
        color: var(--color-primary);
    }
    
    h3 {
        font-size: 15px;
        font-weight: 500;
        margin: 0;
    }
    
    .container {
        position: absolute;
        top: 50px;
        margin: 0;
        width: 100%;
        height: calc(100% - 50px);
        border-radius: 50px 50px 0 0;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
        animation: zoom-from-bottom .5s ease;
        transition: all .3s ease;
        
    }
    
    .container-hide {
        transform: translateY(100%);
    }

    
    
    main {
        padding: 5%;
        width: 90%;
        min-height: 100%;
        border-radius: 50px;
        background-color: var(--color-ui);
        transition: all .3s ease;
    }

    .button-light:hover, .button-dark:hover {
        box-shadow: none;
        transform: none;
    }

    .button-light:hover,  .button-light:active{
        background-color: var(--color-ui);
        color: var(--color-text);
    }

    .button-dark:hover, .button-dark:active {
        background-color: var(--color-primary);
        color: var(--color-ui);
    }

    .button-light:active, .button-dark:active {

        transform: scale(.7);
        transition: all .2s ease;
    }

}