
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<span class="popup-bg"></span>
<div class="content">
    <div class="cross">
        <lord-icon src="https://cdn.lordicon.com/nqtddedc.json" trigger="hover" state="hover-cross-2" colors="primary:#000000"> </lord-icon>
    </div>
    <h2>Contactez-moi</h2>
    <p>Remplissez le formulaire ci-dessous pour me contacter :
    <form id="contactForm">
        <div>
            <input type="text" id="lname" name="lname" required placeholder="Nom">

            <input type="text" id="fname" name="fname" required placeholder="Prénom">
    
            <input type="text" id="enterprise" name="enterprise" required placeholder="Entreprise">
            
            <input type="email" id="from" name="from" required placeholder="Email">
    
            <input type="email" id="emailConf" name="emailConf" required placeholder="Confirmation d'Email">
        </div>
        
        <div>
            <label for="message">Indiquez votre message :</label>
            <textarea id="message" name="message" required></textarea>
        </div>
    </form>
    <p class="result-field">nothing to show</p>
    <button class="send-email button-dark">Envoyer</button>
</div>
