<link rel="stylesheet" href="./css/footer.css">


<div class="buttons">
    <img src="/Portfolio/img/photo-profil.png" alt="">
    <a href="#" class="contact button-light">Me contacter
        <lord-icon
    src="https://cdn.lordicon.com/kthelypq.json"
    trigger="hover"
    color="#000000">
</lord-icon>
    </a>
    <a href="#" class="contact button-light">Credits
        <lord-icon
    src="https://cdn.lordicon.com/rbbnmpcf.json"
    trigger="hover"
    state="hover-file-2"
    colors="primary:#000000">
</lord-icon>
    </a>
    <a href="#" class="contact button-light">Partager
        <lord-icon
    src="https://cdn.lordicon.com/ercyvufy.json"
    trigger="hover"
    colors="primary:#000000">
</lord-icon>
    </a>
    <a href="#top" class="button-light to-top">
        <lord-icon
        
        src="https://cdn.lordicon.com/dwoxxgps.json"
        colors="primary:#000000"
        trigger="hover">
    </lord-icon>
    </a>
</div>
<p class="credit-me">Réalisé par Maël Garnier, 2ème années de BUT informatique à l’IUT2 de Grenoble</p>
<p class="credit-other">Illustration et icones par <a href="https://undraw.co/illustrations" class="link">Undraw</a> <a href="https://lordicon.com/" class="link">Lord-icon</a></p>