
<div class="buttons">
  <img src="../img/photo-profil.png" alt="" />
  
  <div class="links">
    <a href="#" class="contact button-light"
    >Me contacter
    <lord-icon
      src="https://cdn.lordicon.com/kthelypq.json"
      trigger="hover"
      color="#000000"
    >
    </lord-icon>
  </a>
    <a href="#" class="credits button-light"
      >Credits
      <lord-icon
        src="https://cdn.lordicon.com/rbbnmpcf.json"
        trigger="hover"
        state="hover-file-2"
        colors="primary:#000000"
      >
      </lord-icon>
    </a>
    <a href="#" class="partage button-light"
      >Partager
      <lord-icon
        src="https://cdn.lordicon.com/ercyvufy.json"
        trigger="hover"
        colors="primary:#000000"
      >
      </lord-icon>
    </a>
  </div>

  <a href="#top" class="button-light to-top">
    <lord-icon
      src="https://cdn.lordicon.com/dwoxxgps.json"
      colors="primary:#000000"
      trigger="hover"
    >
    </lord-icon>
  </a>
</div>
<p class="credit-me">
  Réalisé par Maël Garnier, 2ème années de BUT informatique à l’IUT2 de Grenoble
</p>

