<link rel="stylesheet" href="./css/rechercher.css" />

<div class="search-bg"></div>

    <div class="search-box" >
        <a href="#">Rechercher</a>
        <input href="#" type="text" placeholder="Rechercher">
      </input>
        <lord-icon 
        src="https://cdn.lordicon.com/kkvxgpti.json"
        colors="primary:#000000"
        trigger="hover">
        </lord-icon>
      </div>
      <div class="close-search">
        <lord-icon src="https://cdn.lordicon.com/nqtddedc.json" trigger="hover" state="hover-cross-2" colors="primary:#000000"> </lord-icon>

      </div>

      <div class="search-result">
      </div>
