@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ebf1fa;
  --light : #c5d7f4;
  --light-hover : #95a3ba;
  --blue : #5f89d1;
  --blue-hover : #4d7ccc;
  --dark-hover: #31343a;
  --dark: #090e17;
  --foreground: #060902;
  --foreground-transparent: rgba(6, 9, 2, 0.73);
}

* {
  z-index: 0;
  font-family: "Poppins", serif;
  object-fit: contain;
  transition: all .3s ease;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 130px 30px 30px 30px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

button {
  position: relative;
  color: var(--foreground);
  font-family: "Poppins", serif;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--light);
}

button:has(img) {
  padding: 10px 50px 10px 20px;
}

button img {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 20px;

  object-fit: contain;
}

button:hover {
  background-color: var(--light-hover);
}

button:hover:has(img) {
  color: var(--light-hover);
}

button:hover img {
  transform: scale(1.2);
  right: calc(50% - 10px);
}
