
body {
  background-color:beige;
  color: black;
}
header ul {
  background-color:moccasin;
}
header a {
  background-color: black;
  color: white;
}
.actif {
  background-color:beige;
  color: black;
}
footer ul {
  background-color: moccasin;
}
aside h2, aside ul {
  background-color: moccasin;
}
article {
  background-color: moccasin;
}
.RickRoll {
  text-decoration: none;
  color: black;
}
main aside:last-child div p {
  color: black;
  background-color: moccasin;
  border: 2px solid black;
}
