
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*
https://fonts.google.com/specimen/Work+Sans
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display=swap');

@media only screen and (max-width: 1000px)  {
    body {
        display: none;
    }
    html {
        display: flex;
        background-color: white;
        justify-content: center;
    }
    html::after {
        content: "Désolé, la version mobile n'est pas encore prise en charge";
        align-items: center;
        font-family: sans-serif;
        font-size: 20px;
    }
}


@keyframes page-appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes bg-appears {
    from {
        width: 150%;
    }
    to {
       width: 100%;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------- website*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    animation: page-appears 1s;
}

.background {
    position:fixed;
    top: 0;
    width: 100%;
    animation: bg-appears 1s;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------- nav bar*/

#menu-btn {
    display: none;
}
#wrap {
    position: sticky;
    top: 0;
    transform: translateX(500px);
    transition: all .3s ease;
    z-index: 1;
}
nav {
    display: flex;
    position: relative;
    justify-content: end;
    margin-right: 520px;
    height: 50px;
    gap: 20px;
}
.home {
    align-items: center;
    display: flex;
    margin-top: 20px;
    height: 30px;
    padding: 0 30px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    color: #9B9B9B;
    text-decoration: none;
    transition: all .1s ease;
}
.home:hover {
    background-color: black;
    color: white;
}
.home:active {
    transform: scale(0.9);
}

.hamburger {
    margin-top: 20px;
    cursor:pointer;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    height: 30px;
    width: 30px;
    transition: all .1s ease;
}
.hamburger:hover {
    background-color: black;
}
.hamburger:hover span {
    background-color: white;
}
.hamburger:active {
    transform: scale(0.9);
}
.hamburger span:first-child {
    margin-top: 8px;
}
.hamburger span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:3px;
    height: 2.5px;
    width: 17px;
    border-radius: 3px;
    background-color: #9B9B9B;
    transition: all .3s;
}

.menu {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    list-style: none;
    height: 100vh;
    width: 500px;
    transition: all .3s ease;
}
.menu a {
    color: #9B9B9B;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    transition: all .2s ease;
    position: relative;
}
.menu a:hover {
    color: white;
}
.menu a::after {
    content: " ";
    background-color: white;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50px;
    left: 0;
    transition: all .2s ease;
}
.menu a:hover::after {
    width: 260px;
    height: 3px;
}
.menu li:nth-child(2) a:hover::after {
    width: 230px;
    height: 3px;
}
.menu a:hover::after {
    width: 260px;
    height: 3px;
}

#menu-btn:checked ~ #wrap {
    transform: translateX(0px);
}
#menu-btn:checked ~ #wrap .hamburger span:nth-child(2){
    visibility: hidden;
}
#menu-btn:checked ~ #wrap .hamburger span:nth-child(1){
    transform: rotate(45deg) translate(4px, 4px);
}
#menu-btn:checked ~ #wrap .hamburger span:nth-child(3){
    transform: rotate(-45deg) translate(4px, -4px);
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------- nav bar*/


footer{
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px 0px;
    justify-content: space-around;
}
footer>div {
    display: flex;
}
footer p {
    margin: 0;
    color:#9B9B9B;
    text-align: left;
}
footer h3 {
    color:#9B9B9B;
    margin: 0;
}
footer .credit {
    width: 400px;
    align-items: start;
    padding: 0;
}
footer .contact {
    width: 400px;
    align-items: start;
    padding: 0;
}
footer .social {
    padding: 0px 0 0px 0;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0;
}
footer .social img {
    filter: brightness(0.6);
    width: 50px;
    transition:all .2s ease;
}
footer .social img:hover {
    filter: none;
}