


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------landing page*/

.landing {
    width: 100%;
    height: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.landing .title {
    margin: 0;
}

.landing p {
    display: flex;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------me page*/


section:not(.landing) {
    color: black;
    width: 80%;
    padding: 3% 10%;
}


section:not(.landing) img:not(.profil-image) {
    width: 30%;
    margin: 5% 0;
}

section:not(.landing) h1 {
    font-size: 10vh;
    margin: 0;
}

section:not(.landing) div {
    margin: 3% 5%;
    display: flex;
    align-items: flex-start;
    gap: 5%;
}

section:not(.landing) > div p, section:not(.landing) > div ul {
    margin: 10px 0;
    font-size: 4vh;
    font-weight: 500;
    text-align: justify;
}

section:not(.landing) > div >div {
    display: flex;
    flex-direction: column;
}


.profil-image {
    width: 20%;
    border-radius: 20px;
    object-fit:cover;
    margin: 0;
}
