
section:not(.landing) {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 3% 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

section:not(.landing) p {
    font-size: 2em;
}
section:not(.landing) > div  {
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}
section:not(.landing) img {
    width: 40%;
}
section:not(.landing) .arrow {
    width: 20vh;
    height: 20vh;
    transform: rotate(-90deg);
}



